body{
    display: flex;
}
.form{
    margin:30px;
    padding: 20px;
    border:1px solid black;
    width:500px;
    background-color: blanchedalmond;
}
.fname,.lname{
    margin-left: 10px;
    margin-right: 10px;
}
#male,#food{
    margin-left:30px;
}
.addres{
    display: flex;
    margin-top:10px;
    margin-bottom:10px;
}
.address{
    margin: 10px;
}
.country,.state{
    margin-top: 13px;
}
.state{
    margin-left: 19px;
}
.country{
    margin-bottom: 20px;
}
button{
    margin-left: 10px;
    background-color:cyan;
}
table,th,td{
    border:1px solid rgb(167, 4, 167); 
    background-color:lightcyan;
}
th,td{
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}
th{
    color: rgb(64, 2, 109);
}
table{
    margin-top: 30px;
    margin-left: 20px;
}